.OptionsContainer {
  height: 70vh;
  width: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  /* background-color: #bd676771; */
  /* box-shadow: 0 0 30px 20px #bd676771; */
}

.container {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid white; */
}

button {
  font-size: 4vh;
  height: 5vh;
  width: 22vh;
  background-color: #bd6767b9;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #f3df8d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 30px 10px #bd676771;
  font-family: "Staatliches", cursive;
}

input {
  height: 5vh;
  width: 20vh;
  text-align: center;
  font-size: 3vh;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 30px 10px #bd676771;
  font-family: "Staatliches", cursive;
  background-color: #bd6767b9;
}

input::placeholder {
  color: #f3df8d;
}

input,
select,
textarea {
  color: #f3df8d;
}

.die1 {
  height: 100%;
  width: 100%;
  max-width: 100px;
  max-height: 100px;
  background-image: url("../assests/dice-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 30px 20px #bd676771;
}
.die2 {
  height: 100px;
  width: 100px;
  background-image: url("../assests/dice-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 30px 20px #bd676771;
}
.die3 {
  height: 100px;
  width: 100px;
  background-image: url("../assests/dice-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 30px 20px #bd676771;
}
.die4 {
  height: 100px;
  width: 100px;
  background-image: url("../assests/dice-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 30px 20px #bd676771;
}
.die5 {
  height: 100px;
  width: 100px;
  background-image: url("../assests/dice-5.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 30px 20px #bd676771;
}
.die6 {
  height: 100px;
  width: 100px;
  background-image: url("../assests/dice-6.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 30px 20px #bd676771;
}
