.OptionsContainer {
  height: 70vh;
  width: 40vh;
}

.container {
  height: 20vh;
}

.spice {
  width: 16vw;
  background-color: #df943371;
  box-shadow: 0 0 30px 10px #df943371;
  border-radius: 10px;
}

.dieContainer {
  height: 24vh;
  width: 10vw;
}

button {
  font-size: 4vmin;
  height: 5vmin;
  width: 22vmin;
  background-color: #bd6767b9;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #f3df8d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 30px 10px #bd676771;
  font-family: "Staatliches", cursive;
}

button:hover, input:hover{
  background-color: #bd6767cc;
  box-shadow: 0 0 30px 10px #f3df8dbb;
  transition: all 0.3s;
}

input {
  height: 5vmin;
  width: 20vh;
  text-align: center;
  font-size: 4vh;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 30px 10px #bd676771;
  font-family: "Staatliches", cursive;
  background-color: #bd6767b9;
}

input::placeholder {
  color: #f3df8d;
}

input,
select,
textarea {
  color: #f3df8d;
}

.die {
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
  background-color: #bd676771;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 30px 20px #bd676771;
}

.die1 {
  background-image: url("../assests/dice-1.png");
}
.die2 {
  background-image: url("../assests/dice-2.png");
}
.die3 {
  background-image: url("../assests/dice-3.png");
}
.die4 {
  background-image: url("../assests/dice-4.png");
}
.die5 {
  background-image: url("../assests/dice-5.png");
}
.die6 {
  background-image: url("../assests/dice-6.png");
}

@media (max-height: 820px) {
  .die {
    height: 70px;
    width: 70px;
  }
}

@media (max-height: 610px) {
  .die {
    height: 50px;
    width: 50px;
  }
}

@media (max-height: 400px) {
  .die {
    height: 40px;
    width: 40px;
  }
}