.Player {
  height: 60vh;
  width: 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid red
}

.containerPlayer {
  height: 20vh;
  width: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid red;
}